<h3 class="text-center">{{ $ctrl.categoryName }}</h3>
<div class="row">
    <ul ng-repeat="item in ictrl.itemsList" ng-class="{ 'clearfix': ($index + 1) % 3 == 0 }">
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading"><strong>{{item.short_name}}</strong> {{item.name}}</div>
            <div class="panel-body" ng-if="item.description">{{item.description}}</div>
            <ul class="list-group" >
                <li class="list-group-item list-group-item-info" ng-if="item.price_small">{{item.small_portion_name || "small"}} - ${{item.price_small}}</li>
                <li class="list-group-item list-group-item-info" ng-if="item.price_large">{{item.large_portion_name || "large"}} - ${{item.price_large}}</li>
            </ul>
        </div>
    </ul>
</div>